.champions {
  overflow: scroll;
}

.all-champions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 20px;
  overflow: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.all-champions a {
  text-decoration: none;
}

.card-champion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 230px;
  height: 290px;
  margin: 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(200, 155, 60, 0.8);
}

.card-champion:hover {
  transform: scale(1.1);
}

.filters {
  display: flex;
  align-items: center;
  margin-right: 100px;
  justify-content: end;
  gap: 15px;
}

label {
  font-size: 1.rem;
  font-weight: bold;
  text-align: right;
}

select {
  font-size: 1rem;
  padding: 0.2rem;
  border-radius: 5px;
  border: 1px solid #010A13;
}