.no-data {
    font-style: italic;
}

.no-data button {
    background-color: #C89B3C;
    color: #010A13;
    font-size: 1.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.no-data button:hover {
    background-color: #010A13;
    border: 2px solid #C89B3C;
    color: #F0E6D2;
    transition: 0.3s;
}

.scoreboard p {
    font-family: "beaufort-pro", sans-serif;
    font-size: 1.5rem;
    margin: 0 auto;
    margin-bottom: 0.5rem;
}

.scoreboard button {
    font-family: "beaufort-pro", sans-serif;
    margin-top: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    background-color: #C89B3C;
    color: #010A13;
    font-size: 1.3rem;
    padding: 0.3rem 0.5rem;
    border: 2px solid #010A13;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.scoreboard button:hover {
    background-color: #010A13;
    color: #C89B3C;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(200, 155, 60, 0.8);
}

table {
    font-family: "beaufort-pro", sans-serif;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-scores {
    font-family: "beaufort-pro", sans-serif;
    font-size: 2rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.scoreboard {
    overflow: scroll;
}