@import url("https://use.typekit.net/nde5hla.css");

#root {
  text-align: center;
  background-color: #010A13;
  color: #F0E6D2;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "beaufort-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.5rem;
  color: #C89B3C;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

h2 {
  font-family: "beaufort-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.8rem;
  margin: 0.5rem;
  color: #C89B3C;
  text-transform: uppercase;
}

h3 {
  font-family: "beaufort-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  color: #C89B3C;
  text-transform: capitalize;
  margin: auto;
}

