.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 900px;
}

.guesser, .memory {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    background-color: #f5f5f5;
    width: 45%;
    border-radius: 5px;
}

.guesser h2, .memory h2 {
    font-size: 1.7rem;
    font-family: "beaufort-pro", sans-serif;
    min-height: 80px;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.guesser p, .memory p {
    color: #010A13;
}

.games h1, .games p {
    width: 100%;
}

.games p {
    font-family: "beaufort-pro", sans-serif;
    font-size: 1.2rem;

}

button {
    background-color: #010A13;
    color: #F0E6D2;
    font-size: 1.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #C89B3C;
    color: #010A13;
    transition: 0.3s;
}

.difficulty {
    display: column;
    justify-content: center;
    margin-top: 1rem;
    border: 1px solid #C89B3C;
    border-radius: 5px;
    padding: 1rem;
    width: 50%;
    margin: 0 auto;
    font-size: 1.2rem;
}

.name-options button {
    margin: 0.5rem;
    border: 1px solid #C89B3C;
}

.champions img {
    min-width: 190px;
    height: auto;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 1rem;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.champions img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: rotate(360deg);
}
